<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Descarga de nudes</title>
</head>
<body>
    <h1>PAGINA DE DESCARGAS</h1>
    <h3>Ingresa URL:</h3>
    <input class="url" type="text">
    <h3>Ingresa Nombre para la imagen:</h3>
    <input class="nombre" type="text">
    <a class="boton" href="">descargar</a>

     <main class="contenedor"></main>

    <script src="./home/script.js"></script>
</body>

</html>